/* Google Fonts API reference */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.gstatic.com'); /* Preconnect link */

/* Global styles */
body {
  font-family: "Open Sans", sans-serif; /* Changed to use Open Sans */
  color: #333;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: #2c3e50;
}

/* Header styles */
header {
  background-color: #2980b9;
  padding: 5px 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #3498db;
}

/* Main content styles */
main {
  max-width: 1000px;
  margin: 10px auto;
  padding: 0 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.card {
  border: 2px solid gray;
  border-radius: 20px;
}

.segment {
  display: flex;
  padding: 0 20px;
  width: fit-content;
  gap: 30px;
}

h1 {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px 0;
  width: 100%;
}

h2 {
  text-align: center;
  color: white;
}

.lagos {
  background: none;
  color: #2c3e50;
}

.card img {
  width: 30%;
  display: block;
  margin-top: 10px;
  height: 40%;
}

.card ul {
  padding: 0 30px;
}

.card ul li {
  margin: 5px 0;
}

/* Footer styles */
footer {
  background-color: #2980b9;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin-top: 30px;
}

footer p {
  margin: 5px 0;
}
